appdirs==1.4.3
Django==1.9
django-crispy-forms==1.6.0
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyparsing==2.2.0
six==1.10.0
amqp==2.1.4
appdirs==1.4.3
billiard==3.5.0.2
boto==2.47.0
celery==4.0.2
Django==1.9
django-crispy-forms==1.6.0
django-easy-pdf==0.1.1
-e git+https://github.com/chrispbailey/django-pdf@e9c94025370b32bdea4ccbf0fbadf33faf374b31#egg=django_pdf
django-pdfkit==0.2.1
django-wkhtmltopdf==3.1.0
django-xhtml2pdf==0.0.3
ghettoq==0.4.5
html5lib==1.0b10
httplib2==0.10.3
kombu==4.0.2
olefile==0.44
packaging==16.8
pdfkit==0.6.0
Pillow==4.1.1
pisa==3.0.33
pyparsing==2.2.0
PyPDF2==1.26.0
pytz==2017.2
reportlab==3.4.0
simplejson==3.11.1
six==1.10.0
update==0.4.4
vine==1.1.3
webencodings==0.5.1
wkhtmltopdf==0.2
xhtml2pdf==0.2b1
