{% extends "base.html" %}
{% block content %} 
{% if user.is_authenticated  and user.is_staff %}
<center>
<h1>List of Questions:<br></h1>
<table border="3"><tr><th>Question_Text</th> <th>Publication_Date</th> <th>  </th><th></th></tr>
{% for question in object_list %}
<tr>  <td>{{question.question_text}}</td>  
      <td>{{question.pub_date}}</td> <td><a href="{% url 'polls:editquestion' pk=question.id %}">edit</a></td> <td><a href="{% url 'polls:deletequestion' pk=question.id %}">delete</a></td>
</tr>
{% endfor %}
</table>
 
{% else %}
<h1>List of Questions:<br></h1>
<table border="3"><tr><th>Question_Text</th> <th>Publication_Date</th> <th>  </th><th></th></tr>
{% for question in object_list %}
<tr>  <td>{{question.question_text}}</td>  
      <td>{{question.pub_date}}</td>
</tr>
{% endfor %}
</table>
</center>
{% endif %}
{% endblock content %} 

