{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<center>
{% if trans  %}
<h1>Details du  transfert envoyé: <br><br></h1>
<table border="0"> 
<tr><p><td>Name of the Sender</td><td>{{ trans.last_namesender }} {{ trans.first_namesender }} </td></p></tr>
<tr><p><td>Amount</td><td>{{ trans.montant }} </td></p></tr>
<tr><p><td>Date of sending</td><td>{{ trans.datedepot }} </td></p></tr>
<tr><p><td>MTCN</td><td>{{ trans.MTCN }} </td></p></tr>
<tr><p><td>Name of the Receiver</td><td>{{ trans.last_namereceiver }} {{ trans.first_namereceiver}} </td></p></tr>
<tr><p><td>Ville du distinataire</td><td>{{ trs.villereceiver }}</td></p></tr>
<tr><p><td>Addresse du destiantaire</td><td> {{ trs.addressereceiver }}</td></p></tr> 
<tr><p><td>Téléphone du destiantaire</td><td> {{ trs.phonereceiver }}</td></p></tr> 
<tr><p><td>Statut</td><td>{{ transfer.statut }} </td></p></tr>
</table>
<br><br><br> <a href="{% url 'transfers:index' %}"  > Return to list of transfers sended</a>
{% endif %}

</center>
{% endif %}
{% endblock  %}
